/* Variables */
:root {
    --border-radius: 10px;
    --box-shadow: 4px 4px #1db475;
}

/* Universal selector */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Element selectors */
body {
    background-color: #0f1d2b;
}

/* Links */
a {
    color: #1db475;
    background-color: inherit;
    text-decoration: none;
}

a:hover {
		background-color: inherit;
		text-decoration: underline;
	  text-decoration-color:#ffc75f;
}

/* Headers */
h1 {
    display: inline-block;
    font-size: 72px;
    font-weight: 200;
    letter-spacing: 5px;
    color:#ffffff;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffc75f;
    font-weight: 200;
    letter-spacing: 1px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18.5px;
    color: white;
}

h4 {
    font-size: 16px;
    padding-left: 10px;
    color: white;
}

p {
    font-size: 16px;
    color: white;
    font-weight: 400;
		padding: 5px;
}

/* Figures */
figure {
    display:inline-block;
    margin-left: 25px;
		margin-right: 10px;
}

figcaption {
    color: white;
    font-weight:600;
    text-align: center;
		margin-bottom: 20px;
}

/* Class selectors */
.header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 10px 10px;
    background-color: #091520;
    justify-content: center; 
}

.header h1 .simon {
    color: #1db475;
}

.header nav {
    text-align: right;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 400;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 10px
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px 20px 40px;
}

.hero img {
    margin-right: 35px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.header-box {
    max-width: 500px;
    height: 300px;
		padding: 40px 40px 0px 60px;
    margin: 40px 50px 0px 50px;
    background-color:#091520;
    letter-spacing: 1px;
    line-height: 2.8rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.header-box .arrow {
    color: #1db475;
}

.header-box .arrow2 {
    color: #1db475;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  
  .header-box h2::after {
    content: "";
    width: 4px;
    height: 20px;
    background: #1db475;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
  }

.content {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-summary, .content-projects, .content-contact {
    width: 780px;
		padding: 20px 20px 20px 20px;
    margin: 10px 0px 20px 0px;
    background-color: #091520;
    font-weight: 400;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);  
}

.content-summary p {
    padding: 0px 50px 0px 20px;
		line-height: 25px;
}

.content-projects p {
    padding: 0px 50px 30px 20px;
		line-height: 25px;
}

.content-projects img {
    display: inline-block;
}

.content-projects img:hover {
    color: #111;
    background: greenyellow;
    box-shadow: 0 0 100px greenyellow;
}

.content-contact {
		margin-bottom: 50px;
}

.content-contact a:hover {
    text-decoration: none;
}

.devicon-linkedin-plain, .devicon-github-original-wordmark {
    font-size: 58px;
    color: white;
    margin-right: 20px;
}

.aside {
    width: 320px;
    height: 800px;
		padding: 40px 40px 0px 60px;
    margin: 10px;
    background-color:#091520;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}  

.aside a {
    font-size: 20px;
    font-weight: 600;
}

.footer {
    text-align: right;
    padding: 25px 160px 25px 0px;
    background-color: #091520;
}

/* Media queries */
@media screen and (min-width: 1990px) {
    .header, .container, .footer  {
    zoom: 2;
   }
}

@media screen and (max-width: 992px) {
    .header, .container, .footer  {
    background-color: lightblue;
   }
}

@media screen and (max-width: 640px) {
    .header, .container, .footer {
    background-color: lightgreen;
    zoom: .5; 
    }
}